In [1]:
import os
import yaml
import pickle
import pandas as pd

In [2]:
with open("../config.yaml", "r", encoding="utf8") as f:
    conf = yaml.load(f, Loader=yaml.FullLoader)
os.chdir(conf["project_path"])

In [3]:
df = pd.read_csv("data/od/fod_w_14f_hs.csv",)
df.dropna(inplace=True)
df[['load_label', 'original_cube', 'drop_label', 'destination_cube']] = df[['load_label', 'original_cube',
                                                                            'drop_label', 'destination_cube']].astype(int)
df.head(3)

,Licence,begin_time,end_time,original_log,original_lat,destination_log,destination_lat,in_bbox,original_x,original_y,original_cube,destination_x,destination_y,destination_cube,load_label,drop_label,_merge
0,粤B000H6,2014-07-03 00:33:35,2014-07-03 00:39:11,113.945236,22.523884,113.922867,22.522551,True,171.0,328.0,262571,149.0,330.0,264149,110,18,both
1,粤B000H6,2014-07-03 01:14:53,2014-07-03 01:21:22,114.067917,22.523817,114.086533,22.540051,True,287.0,328.0,262687,304.0,312.0,249904,4,5,both
2,粤B000H6,2014-07-03 07:07:53,2014-07-03 07:23:23,114.122681,22.578699,114.126518,22.543716,True,339.0,272.0,217939,342.0,308.0,246742,52,3,both

In [4]:
# Check whether pick-up and drop-off hotspot labels are correct, through checking whether pick-up and drop-off
# cube is in labeled pick-up and drop-off cluster.
with open("data/hotspot/f14p.list_of_dict", 'rb') as f:
    p_hs = pickle.load(f)
def check(record, hs):
    return record['original_cube'] in hs[record['load_label']]['hotpots']
df.apply(check, args=(p_hs,), axis=1).sum()
# Correct: every pick-up and drop-off cube is in labeled pick-up and drop-off cluster.