In [1]:
import os
import yaml
import pandas as pd
import numpy as np

In [6]:
with open("config.yaml", "r", encoding="utf8") as f:
    conf = yaml.load(f, Loader=yaml.FullLoader)
os.chdir(conf["project_path"])

In [3]:
od = pd.read_csv(conf['od']['raw1706'])
od['begin_time'] = pd.to_datetime(od['begin_time'], format='%Y-%m-%d %H:%M:%S')
od['end_time'] = pd.to_datetime(od['end_time'], format='%Y-%m-%d %H:%M:%S')

In [7]:
od.astype(dtype={'original_log': np.float32, 'original_lat': np.float32,
                 'destination_log': np.float32, 'destination_lat': np.float32}).to_parquet(conf['od']['raw1706_pqt'])

In [9]:
od

,original_log,original_lat,begin_time,destination_log,destination_lat,end_time,id
0,114.116150,22.560801,2017-06-01 00:03:13,114.130585,22.550917,2017-06-01 00:10:11,粤BE5634
1,114.130051,22.552517,2017-06-01 00:18:28,114.137566,22.580383,2017-06-01 00:26:59,粤BE5634
2,114.139267,22.576733,2017-06-01 00:35:04,114.122467,22.580267,2017-06-01 00:41:43,粤BE5634
3,114.121170,22.580967,2017-06-01 00:43:29,114.123734,22.579332,2017-06-01 00:47:35,粤BE5634
4,114.134735,22.579268,2017-06-01 00:51:42,114.159851,22.607800,2017-06-01 00:59:45,粤BE5634
...,...,...,...,...,...,...,...
6031816,114.101814,22.543484,2017-06-29 22:21:11,114.045914,22.566917,2017-06-29 22:39:09,粤BE7942
6031817,114.053535,22.567183,2017-06-29 22:42:17,114.136230,22.583717,2017-06-29 22:59:55,粤BE7942
6031818,114.125984,22.559683,2017-06-29 23:14:38,114.108185,22.575867,2017-06-29 23:21:47,粤BE7942
6031819,114.103935,22.567150,2017-06-29 23:26:55,114.130234,22.554882,2017-06-29 23:34:49,粤BE7942
6031820,114.124130,22.547649,2017-06-29 23:39:39,114.101166,22.546932,2017-06-29 23:51:57,粤BE7942